
@{
    ViewBag.Title = "Parse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Parse", "SentenceParser", FormMethod.Post))
{
    if(ViewBag.ErrorMessage != null)
    {
        <div>@ViewBag.ErrorMessage</div>
    }
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h2>Paste Sentence</h2>
            <textarea id="sentence" class="input-lg" name="sentence" style="width:90%"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12"><input class="btn btn-default" type="submit" name="Parse" value="Parse" /></div>
    </div>
}